body {
  font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Common properties between panes */
.pane-1,
.pane-2,
.pane-3,
.pane-4 {
  padding: 0 400px 0 400px;
  flex: 1;
}

/* Seperate pane properties */
.pane-1 {
  background-color: #1f2937;
}

.pane-2 {
  background-color: #ffffff;
}

.pane-3 {
  background-color: #e5e7eb;
}

.pane-4 {
  background-color: #ffffff;
}

/* Header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-links {
  color: #e5e7eb;
  font-size: 18px;
}

/* Links in header */
ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

/* Lower first pane */
.desc-and-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  padding: 100px 0 50px 0;
}

.img-holder {
  background-color: rgb(133, 132, 132);
  height: 150px;
  width: 400px;
  text-align: center;
  padding-top: 120px;
  color: rgba(228, 224, 224, 0.979);
}

.awesome-header {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  padding: 0;
  margin: 0px;
}

.awesome-desc {
  font-size: 18px;
  color: #e5e7eb;
  padding: 0;
  margin: 0;
}

.sign-up-button {
  background: #3882f6;
  border: 1px solid #3882f6;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  padding: 8px;
  width: 100px;
  margin-top: 35px;
}

.img {
  margin: 0;
  padding: 0;
}

.desc {
  width: 500px;
}
/* Second pane */
.random-info-header {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.box-writing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-bottom: 100px;
}

.box {
  border-style: solid;
  border-color: #3882f6;
  border-radius: 10px;
  border-width: thick;
  height: 130px;
  /* width: 120px; */
  margin: 25px;
  margin-bottom: 5px;
}

/* Third pane */
.big-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
  padding: 100px 100px 0px 100px;
}

.box-info {
  text-align: center;
}

.container {
  max-width: 200px;
}
.thor {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0 100px 50px 0;
}
